<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Hi <%= @user.name %></h1>
    <p>
      Thanks for checking out SnoWay!
    </p>
    <p>
      I'll be in touch soon.
    </p>
    <p>
      Justin
      Justin.W.McKelvey@gmail.com
      twitter.com/justinmckelvey
      
    </p>

  </body>
</html>
