<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Hi <%= @user.name %></h1>
    <p>
      Thanks for checking out SnoWay!
    </p>
    <p>
      It was great meeting you. Lets ski together sometime!
    </p>
    <br>
    <br>
    <p>
      Justin
    </p>
    <p>
      Justin.W.McKelvey@gmail.com
    </p>
    <p>
      twitter.com/justinmckelvey
    </p>
    <h4>"No one on their death bed has ever said: I wish I had spent more time at the office." -Warren Miller<h4>

  </body>
</html>
