// Place all the styles related to the resorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flight {
  text-align: center;
}

.temp {
  text-align: center;
}

h2 {
  text-align: center;
}
