<body class="container">
<ul>
  <% @resorts.each do |resort| %>
      <li><%= image_tag resort.photo.thumb %>  <%= link_to resort.name, resort %></li>
    <p> <%= resort.expected_snowfall %> in. Expected this week!</p>
  <% end %>
</ul>
</body>
